.App-main {
  top: 75px;
  position: absolute;
}

.App-body {
  background-color: #3c4d4b75;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  color: white;
  padding: .5rem;
}

.three-block-string {
  flex: 0 1 33.333%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.two-block-string {
  flex: 0 1 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.item {
  margin: .5rem;
  background-color: #282c34;
  padding: .5rem;
  flex: 1 0 auto;

  .image {
    padding: 0px 0px 58% 0px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .p {
    height: auto;
  }

  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;

  &:hover {
    -webkit-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
  }
}

.App-main-image {
  img {
    display: block;
    max-width: 100%;
    min-height: calc(100vw * (9 / 16));
    background: white;
  }

  img::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 591.44px / 1127.34px * 100%;
  }

  img::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 767px) {
  .three-block-string, .two-block-string {
    flex: 0 1 100%;
  }
}


