.App-main {
  display: flex;
  background-color: #282c34;
  height: calc(100% - 75px);
  position: fixed;
  top: 75px;
  box-shadow: 0px 5px 5px rgba(60, 77, 75, 0.58);
  font-size: 2rem;
  color: white;
  z-index: 90;

  @media (min-width: 767px) {
    display: none;
  }

  .MenuFlex {
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    .ItemMenu {
      cursor: pointer;
      padding: 3rem;
      width: 100vw;
      border-bottom: 1px solid rgba(60, 77, 75, 0.58);
    }
  }
}



